.about-card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 900px;
  margin: auto;
  line-height: 20px;
}

.about-title {
  font-size: 34px;
  color: #5A2e0c;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-description {
  color: #5a2e0cce;
  margin-top: 10px;
}

.more-title {
  color: #5A2e0c;
  font-size: 20px;
  margin-bottom: 10px;
}

.developer-card {
  text-align: left;
  max-width: 400px;
  background-color: white;
  border: 2px solid #E7DFC4;
  border-radius: 10px;
  padding: 20px;
  line-height: 30px;
  color: #5A2e0c;
}

.bold-text {
  color: #5A2e0c;
  font-weight: bold;
}
.note {
  color: #5a2e0cbf;
}

.home-link {
  text-decoration: none;
  background-color: #e2680b;
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  transition: all .2s ease;
}

.home-link:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 2px rgba(90, 46, 12, 0.3);
}


