/* variables */
:root {
  --hover-color: #7d7d7d;
  --light-blue-color: #0064E0;
  --border-color: #d2d2d2;
  --font-weight: 500;
  --min-width: 270px;
  --max-width: 470px;
  --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-family-system-prism: "Instagram Sans UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* universal reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  font-family: var(--font-family-system-prism);
}

a {
  text-decoration: none;
  color: black;
  font-size: 13px;
  display: block;
  height: 100%;
  width: 100%;
}

input, button {
  font-family: var(--font-family-system-prism);
  letter-spacing: inherit;
  font-weight: inherit;
  letter-spacing: 0.01em;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: inherit;
}

button {
  cursor: pointer;
  padding-bottom: 2px;
}

input {
  padding: 16px;
}
.input-container, .btn, .header-text {
  width: 100%;
}

/* images styling */
.insta-logo-in img {
  width: 66px;
}

/* general styling */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 95vh;
  font-weight: var(--font-weight);
}

.header-form-container {
  border: .5px solid #cbcbcb;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
}

.header-form-container-in {
  width: 100%;
  max-width: clamp(var(--min-width), 90vw, var(--max-width));
}

.header-form-container .header-text p {
  width: fit-content;
}

/* input styling */
.input-container {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  overflow: hidden;
  margin-top: 10px;
}
.input-container:focus-within {
  border-color: var(--hover-color);
}
.input-container:hover {
  border: 1px solid var(--hover-color);
}

/* button styling */
.btn {
  padding: 8px;
  border-radius: 20px;
}

.login-btn {
  background-color: var(--light-blue-color);
  opacity: .4;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.login-btn button {
  cursor: not-allowed;
}

.fb-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  margin-top: 50px;
  padding: 8px;
}

.fb-btn:hover {
  background-color: #eef4ff;
}

.fb-btn img {
  width: 20px;
  margin-right: 4px;
}

.new-account-btn {
  border: 1px solid var(--light-blue-color);
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 8px;
}
.new-account-btn a {
  color: #0064E0;
}
.new-account-btn:hover {
  background-color: #eef4ff;
}
.meta-logo img {
  height: 15px;
}

/* desktop hide */
.desktop-view {
  display: none;
  font-size: 2.8vw;;
}

.main-img {
  width: calc(100vw - 780px);
  min-width: 500px;
  height: calc(100vh - 370px);
  min-height: 290px;
  object-fit: contain;
}

.close-friends {
  line-height: 60px;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  margin-top: 25px;
}

.colorfull {
  /* making the text like its background */
  background-image: linear-gradient(to right, #ff5c00, #ff0069, #d300c5);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
/* Responsive - larger screens */
@media(min-width: 1024px) {
  /* visible */
  .desktop-view {
    display: block;
  }

  /* changes to the mobile view */
  .header-form-container {
    border: none;
    border-left: 2px solid var(--border-color);
    height: 100%;
    padding: 30px;
    width: 50vw;
    max-width: 560px;
  }

  .container {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--border-color);
  }

  .insta-logo-in img {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  /* desktop elements */
  .main-logo-imgs {
    padding-inline-end: 20px;
    padding-inline-start: 20px;
  }
  
  

}